.svn/
target/
test-output/
*.class
.classpath
.project
.settings/
tmp
temp
*.log
*.out
.idea/
*.iml
bin/
sqldump.txt
sqldumpFile.txt
bdbtmp/
je.info.*
*.lck
*.jdb
db-server/logs
logs
package-info.java
.DS_Store
/deploy/
/deploy.tar.gz
*/dependency-reduced-pom.xml
jacoco*
*/src/test/*
rules/